<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>473638936246-6m1n2i8c0u3gms2j2gi8h9t9nvcii0cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473638936246-6m1n2i8c0u3gms2j2gi8h9t9nvcii0cs</string>
	<key>API_KEY</key>
	<string>AIzaSyDWrCszxCiXzXQIH5R010ZWxqjC2geArUE</string>
	<key>GCM_SENDER_ID</key>
	<string>473638936246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Maryam.Clerkie-iOS-Coding-Challenge</string>
	<key>PROJECT_ID</key>
	<string>clerkie-e614f</string>
	<key>STORAGE_BUCKET</key>
	<string>clerkie-e614f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473638936246:ios:2530015646ceae89</string>
	<key>DATABASE_URL</key>
	<string>https://clerkie-e614f.firebaseio.com</string>
</dict>
</plist>